@model IEnumerable<PayRoll.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Employees</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by Date: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            @*<input type="submit" value="Search" class="btn btn-default" />*@
            <input type="text" placeholder="" />
            <button type="submit"><i class="fa fa-search">Search</i></button>
            <a asp-action="Index">View Whole List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>   
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["NameSorting"]">@Html.DisplayNameFor(model => model.employeeName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rateOfPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoursWorked)
            </th>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["DateSorting"]">@Html.DisplayNameFor(model => model.payWeek)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rateOfPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payWeek)
            </td>
            <td>
               @Employee.OverTime(item.hoursWorked)
            </td>
            <td>
                @Employee.GetPay(item.hoursWorked, Convert.ToDecimal(item.rateOfPay))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.employeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.employeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.employeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
