@model IEnumerable<PayRoll.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Employees</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rateOfPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rateOfPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payWeek)
            </td>
            <td>
                @if (item.hoursWorked > 40)
                {

                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.employeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.employeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.employeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
